h1 {
}

div.header {
    background: #2F4073;
    text-align: center;
    color: #7986AC!important;
}


body {
    background: #5B773D;
}


div.bottomhalf {
    background: white;
    padding-top: 2em;
}


div.arrow-container {
    width: 7em;
    height: 5em;
}

div.box {
    width: 2em;
    height: 2em;
    display: inline-block;
}

div.arrow {
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

div.arrow.active {
    background-color: yellow;
}

div#status {
    height: 4em;
}

div#status.connected {
    background-color: green
}


div#status.nowebconnector {
    background-color: none
}

div#status.driving {
    background-color: yellow
}

div#status.disconnected {
    background-color: red
}
