img.crosshair {
}

div.arrow-container {
    width: 7em;
    height: 5em;
}

div.box {
    width: 2em;
    height: 2em;
    display: inline-block;
}

div.arrow {
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

div.arrow.active {
    background-color: yellow;
}